@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

.intoHead {
  color: #172b4d;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 12px;
  width: 80%;
}

.intoDes {
  color: #344563;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
  width: 85%;
}

.contact {
  color: #7f8cff;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  margin-bottom: 12px;
}

.social > a {
  font-size: 1.5rem;
  color: #505f79;
  padding: 8px;
}

.vt:hover {
  border: 1px solid black;
  padding: 2px;
}

.social i:hover {
  color: black;
}

.works {
  display: grid;
  gap: 88px;
  padding: 114px 24px;
}

.cards h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 0;
}

.brief-list {
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 0;
  margin-bottom: 12px;
}

.lg > span {
  color: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 26px 16px 12px;
}

.brief-list span:first-child {
  color: #344563;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 16px;
}

.brief-list > img {
  margin: 0 6px;
  padding: 0;
}

.self-intro {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
}

.self-intro p {
  text-align: justify;
}

.lang-list {
  display: flex;
  color: #6070ff;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lang-list > li {
  font-family: 'Poppins', sans-serif;
  padding: 4px 12px;
  background-color: #ebebff;
  margin: 4px;
  border-radius: 8px;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  margin: 12px 169px 12px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid  #6070ff;
  color: #396df2;
  user-select: none;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #6070ff;
}

.abtMyself {
  padding: 114px 24px;
}

.abtAll {
  padding: 0 11px;
}

.aboutMe {
  color: #172b4d;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 12px;
  width: 80%;
}

.abtAll .abtMe {
  color: #172b4d;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 52px;
}

.abtAll .abtJob {
  color: #344563;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  margin: 12px 0;
}

.btnR {
  color: #396df2;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  margin: 12px 0 0 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6070ff;
}

.btnR:hover {
  color: white;
  background-color: #6070ff;
}

.abtLg {
  margin: 24px 12px 0 12px;
}

.lg {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  position: relative;
}

.abtLg > div:nth-child(2) {
  border-bottom: 1px solid #dfe1e6;
}

.abtLg > div:nth-child(3) {
  border-bottom: 1px solid #dfe1e6;
}

.lg > img {
  position: absolute;
  padding: 8px;
  margin: 0 0 0 12px;
  left: 80%;
  top: 10px;
}

.lg-list > li {
  padding: 9px 12px 9.72px 12px;
  list-style-type: none;
}

.skills > img {
  margin: 0 16px 0 0;
}

@media screen and (min-width: 375px) {
  .firstSec {
    display: flex;
    flex-direction: column;
    padding: 114px 24px;
    width: 100%;
    background-image: url("./img/mobileHeader.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    margin-left: 0.5rem;
    justify-content: space-between;
  }

  .toolBar {
    color: #6070ff;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 20px;
  }

  .navBar {
    display: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
  }

  .abtMyself {
    padding: 114px 24px;
  }

  .skills {
    display: flex;
    align-items: center;
    background-color: #f7f7f9;
    border-radius: 8px;
    margin: 0 12px 11px 11px;
  }

  .contactHeader > p {
    width: 85%;
    color: #ebebff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 12px;
  }

  .contactHeader form {
    width: 100%;
  }

  .btnGet {
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 6px;
    background: #fff;
    align-self: self-start;
    margin-top: 22px;
    color: #6070ff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
    border: none;
  }

  .lastImg {
    text-align: center;
    padding: 21px 0 8px 0;
    background-color: #6070ff;
  }
}

@media screen and (min-width: 768px) {
  .firstSec {
    display: flex;
    flex-direction: column;
    padding: 114px 24px;
    width: 100%;
    background-image: url(./img/desktopHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .firstPara {
    padding: 100px 200px;
  }

  .header {
    padding: 16px 143px;
  }

  .toolBar i {
    display: none;
  }

  .navBar {
    display: inline;
  }

  .navBar ul {
    display: flex;
  }

  .navBar li {
    padding: 12px 12px;
    list-style: none;
    color: #344563;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 20px;
  }

  .navBar a {
    text-decoration: none;
  }

  .navBar li:hover {
    font-weight: bold;
  }

  .cards {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
  }

  .works .cards:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }

  .img {
    width: 50%;
  }

  .cardDes {
    width: 50%;
    padding: 24px;
  }

  .abtMyself {
    display: flex;
  }

  .abtAll {
    width: 45%;
  }

  .abtLg {
    width: 55%;
    margin: -6px;
  }

  .lg-list {
    display: flex;
  }

  .skills {
    width: 30%;
    display: block;
  }

  .lg-list .skills:nth-child(2) {
    margin: 0 12px;
  }

  .contactHeader {
    width: 40%;
    margin: auto;
  }

  .contactHeader > p {
    width: 90%;
    color: #ebebff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 12px;
    text-align: center;
  }

  .contactHeader form {
    width: 80%;
  }

  .btnGet {
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 6px;
    background: #fff;
    margin: 27px 0;
    margin-left: 35%;
    color: #6070ff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
    border: none;
  }

  .lastImg {
    display: none;
  }
}

.footer {
  min-width: 100vw;
  background-image: url(./img/mobileContact.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 24px 0 24px;
}

.contactHeader {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactHeader > h1 {
  padding-top: 103px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.contactHeader .lorem {
  margin-top: 52px;
  width: 85%;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 38px 15px 16px;
  border-radius: 8px;
  border: 1px solid  #cfd8dc;
  background: #fff;
}

.contactHeader .email {
  margin: 20px 0;
  width: 85%;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 38px 15px 16px;
  border-radius: 8px;
  border: 1px solid  #cfd8dc;
  background: #fff;
}

.contactHeader .textArea {
  width: 85%;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  padding: 15px 38px 15px 16px;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.btnGet:hover {
  background-color: #172b4d;
  color: white;
  font-weight: bold;
}
