*{
    padding: 0;
    margin: 0;
}
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


    

@media  screen and (min-width:375px) {

    .header{
        display: flex;
        align-items: center;
        padding: 1.2rem;
        margin-left: 0.5rem;
        justify-content:space-between;
        
    }
    
    .toolBar{
        color: #6070FF;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        line-height: 20px;
    
    }
    

}
